* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #17073e !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    border: none;
}
.drop1 {
    width:120vw;
    background-color: #7209b7;
    left: -10vw;
    top: 30vw;
}

.drop2 {
    width:40vw;
    background-color: #F72585;
    left: 75vw;
    top: 7vw;
}

.drop3 {
    width: 200vw;
    background-color: #4CC9F0;
    left: -130vw;
    top: -160vw;
}

.overlay-blur {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10vw);
}

.chat-window {
    width: 85rem;
    height: 55rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 149px -4px rgba(255,255,255,0.25);
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    backdrop-filter: blur(200px);
}

.sidebar {
    color: white;
    background-color: rgb(35, 3, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.chat-list {
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.chat-collapsed {
    height: 6rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 0;
}

.chat-collapsed img {
    width: 4rem;
    border-radius: 50%;
}

.chat-collapsed-info {
    margin-left: 1rem !important;
    padding: 0.75rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    flex-grow: 1;
    border-radius: 15px 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.chat-collapsed * {
    margin: 0;
}
.chat-open {
    display: flex;
    flex-direction: column;
}

.chat-open-header * {
    margin: 0;
}
.chat-open-header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 0 0 15px 15px;
    color: black;
    overflow: hidden;
}

.chat-input {
    display: fixed;
    bottom: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px 15px 0 0;
    color: black;
}

.chat-msgs {
    overflow-y: scroll;
    height: calc(70% - 12rem);
    height: 43rem;
}

.chat-msg-right {
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    max-width: 50%;
    padding: 1rem;
    background-color: rgba(243, 140, 234, 0.2);
    border-radius: 15px 0 15px 15px;
    color: black;
    overflow: hidden;
}

.chat-msg-left {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 15px 15px 15px;
    color: black;
    overflow: hidden;
}

  /* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .chat-window {
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
  }
  
  /* Media query for screens between 768px and 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    .chat-window {
      width: 39rem;
      height: 25rem;
    }
  }
  
  