<script>
export default {
    name: "Background",
}
</script>

<template>
    <div class="drop drop1"></div>
    <div class="drop drop2"></div>
    <div class="drop drop3"></div>
    <div class="drop drop4"></div>
    <div class="drop drop5"></div>
    <div class="overlay-blur"></div>
</template>

<style scoped>
html {
    height: 100%;
}

.drop {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    border: none;
}

.drop1 {
    width: 120vw;
    background-color: #7209b7;
    left: -10vw;
    top: 30vw;
}

.drop2 {
    width: 40vw;
    background-color: #F72585;
    left: 75vw;
    top: 7vw;
}

.drop3 {
    width: 200vw;
    background-color: #4CC9F0;
    left: -130vw;
    top: -160vw;
}

.overlay-blur {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10vw);
}
</style>