<template>
  <div class="app">
    <Background />
    <ChatWindow />
  </div>
</template>

<script>
import io from 'socket.io-client';
import ChatWindow from './ChatWindow.vue';
import Background from './Background.vue';

export default {
  data() {
    return {
      socket: null,
      connected: false,
    }
  },
  components:  {
    Background,
    ChatWindow
  },
}
</script>

<style>

  body {
      margin: 0;
      min-height: 100%;
      background-color: #57418f !important;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  * {
      box-sizing: border-box;
  }

  html {
      height: 100%;
  }

  #app {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
</style>