<script>
export default {
    props: {
        name: String,
    },
    name: "HeadUser",
}
</script>

<template>
    <div class="chat-open-header">
        <h3>{{ name }}</h3>
    </div>
</template>

<style>
.chat-open-header * {
    margin: 0;
}
.chat-open-header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 0 0 15px 15px;
    color: black;
    overflow: hidden;
}

</style>