<script>
export default {
    data() {
        return {
            formInput: '',
        }
    },
    methods: {
        submit() {
            this.$emit('formSubmitted', this.formInput);
            this.$refs.input.value = '';
        }
    },
    name: "InputBox"
}
</script>

<template>
    <div class="chat-input">
        <form class="row gx-0">
            <input class="col-11" type="text" ref="input" placeholder="Type a message" v-model="formInput"/>
            <button class="col" type="submit" @click.prevent="submit">Send</button>
        </form>
    </div>
</template>

<style scoped>
.chat-input {
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px 15px 0 0;
    color: black;
}
form {
    width: 100%;
}
input {
    height: 3rem;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
    padding: 0 1rem !important;
}
input::-webkit-input-placeholder{
    color: black;
}
input:-moz-placeholder {
    color: black;
}
input:active, input:focus {
    outline: none;
}
button {
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 0.5rem;
}
</style>