<template>
    <div class="wrapper">
        <div class="login-card">
            <div class="login-card-heading">
                <h2>Welcome back!</h2>
                Please enter your details.
            </div>
            <form id="login-form" @submit="login">
                <div>
                    <input @input="hideErrorMessage" v-model="username" type="text" id="username-input" name="username" placeholder="Enter your username">
                </div>
                <div>
                    <input @input="hideErrorMessage" v-model="password" type="password" name="password" id="password-input" placeholder="Enter your password">
                </div>
                <div class="row g-0">
                    <button type="login-button">Log in</button>
                </div>
            </form>
            <p class="error-message display-none"></p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
axios.defaults.withCredentials = true;

export default {
    name: "Login",
    data() {
        return {
            username: '',
            password: '',
        };
    },
    methods: {
        showErrorMessage(message) {
            const errorMessage = document.querySelector('.error-message');
            errorMessage.textContent = message;
            errorMessage.classList.remove('display-none');
        },
        hideErrorMessage() {
            const errorMessage = document.querySelector('.error-message');
            errorMessage.classList.add('display-none');
        },
        async login(event) {
            event.preventDefault();
            try {
                const response = await axios.post('http://localhost:3000/users/login', {
                    username: this.username,
                    password: this.password
                })
                if (response.status === 200) {
                    setTimeout(() => {
                        this.$router.push('/chat');
                    }, 1000);
                }
                else {
                    this.showErrorMessage(response.data.message);
                }
            }
            catch (error) {
                this.showErrorMessage(error.response.data.message);
            }

        }
    },
    mounted() {
        console.log('Login component mounted');
    },
}
</script>


<style scoped>
.wrapper {
    width: 100vw;
    height: 100vh;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221, 239, 255);
    background: linear-gradient(149deg, rgb(255, 197, 241) 58%, rgb(255, 197, 241) 100%);
}

label {
    display: block;
}

.login-card {
    padding: 3rem 6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 2rem;
    word-wrap: break-word;
    width: 35rem;
    box-shadow: 0px 0px 25px -5px #e357ff61;
    height: 30rem;
    min-height: fit-content;
}

.login-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card-heading {
    align-self: flex-start;
    margin-bottom: 1.5rem;
}

.login-card-heading h2 {
    font-family: 'DM Serif Display', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

button {
    width: 100%;
    font-size: large;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #FFAFCC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6ea3;
    cursor: pointer;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: .5rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    font-size: large;
}

.red-border {
    border: 1px solid red;
}

.display-none {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .login-card {
        padding: 3rem 2rem;
        font-size: 1rem;
    }

    .login-card form {
        width: 100%;
    }

    button {
        font-size: medium;
    }

    input {
        font-size: medium;
    }
}

@media (max-width: 600px) {
    .login-card {
        width: 100%;
        height: 100%;
        padding: 1rem 1rem;
        margin: 0;
        border-radius: 0;
        font-size: 0.8rem;
    }

    button {
        font-size: small;
    }

    input {
        font-size: small;
    }
}
</style>