<script>
export default {
    props: {
        message: {
            type: Object,
            required: true,
        },
    },
    computed: {
        styleClasses() {
            return {
                    'chat-msg-left': this.message.isLeft,
                    'chat-msg-right': !this.message.isLeft,
            }
        }
    },
    methods: {
        formatDate(timestamp) {
            const date = new Date(timestamp);
            const currentDate = new Date();

            const isSameDay = date.getDate() === currentDate.getDate();
            const isYesterday = date.getDate() === currentDate.getDate() - 1;

            if (isSameDay) {
                return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            } else if (isYesterday) {
                return 'Yesterday';
            } else {
                return date.toLocaleDateString([], { year: 'numeric', month: 'short', day: 'numeric' });
            }
        },
    },
    name: "Message",
}
</script>

<template>
    <div :class="styleClasses">
        <span v-if="message.isLeft" class="whosent">{{ message.sender }}</span>
        {{ message.message }}
        <span class="timestamp">{{ formatDate(message.date) }}</span>
    </div>
</template>

<style scoped>

.whosent {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0.1rem;
    left: 1rem;
}
.timestamp {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
}

.chat-msg-right {
    position: relative;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    max-width: 50%;
    padding: 1rem;
    background-color: rgba(243, 140, 234, 0.2);
    border-radius: 15px 0 15px 15px;
    color: black;
    overflow: hidden;
}

.chat-msg-left {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 15px 15px 15px;
    color: black;
    overflow: hidden;
}
</style>