<script>
    import axios from 'axios';

    import HeadUser from './HeadUser.vue';
    import Message from './Message.vue';
    import InputBox from './InputBox.vue';

    export default {
        
        methods: {
            submit(formInput) {
                this.$emit('formSubmitted', formInput);
                this.formInput = '';
            },
            scrollToBottom() {
                const container = this.$refs.messagesContainer;
                container.scrollTop = container.scrollHeight;
            }
        },
        mounted() {
            this.scrollToBottom();
        },
        updated() {
            console.log(this.peer);
            this.scrollToBottom();
        },
        components: {
            HeadUser,
            Message,
            InputBox,
        },
        props: {
            messages: {
                type: Array,
                required: true,
            },
            peer: {
                type: String,
                required: true,
            },
        },
        name: "Messages",
    }
</script>
<template>
    <div class="chat-open">
        <HeadUser :name="peer"/>
        <div class="chat-msgs" ref="messagesContainer">
            <Message v-for="message in messages" :message="message" />
        </div>
        <InputBox @formSubmitted="submit"/>
    </div>
</template>

<style>
.chat-open {
    display: flex;
    flex-direction: column;
}
.chat-msgs {
    overflow-y: scroll;
    height: calc(70% - 12rem);
    height: 43rem;
    scroll-behavior: smooth; /* Add smooth scroll behavior */
    transition: scroll-behavior 0.1s; /* Add a transition effect */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.chat-msgs::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
</style>