<script>
import User from './User.vue';
import axios from 'axios';

export default {
    components: {
        User
    },
    data() {
        return {
            users: [],
            selectedUsers: [],
            searchQuery: "",
            searchTimeout: null,
            messageInput: "",

        }
    },
    methods: {
        async searchForUsers() {
            console.log("searching for users");
            const searchQuery = this.searchQuery;
                try {
                    const response = await axios.get(`http://localhost:3000/users/search?query=${searchQuery}`);
                    if (response.status === 200) {
                        const users = response.data.map((user) => user.username);
                        this.users = users;
                        this.selectedUsers = [];
                    }
                }
                catch (error) {
                    console.log(error);
                }
        },
        selectUser(user) {
            this.selectedUsers.push(user);
            console.log(this.selectedUsers);
        },
        unselectUser(user) {
            console.log("unselecting user");
            this.selectedUsers = this.selectedUsers.filter((selectedUser) => {
                return selectedUser !== user;
            });
            console.log(this.selectedUsers);
        },
        submit() {
            clearTimeout(this.searchTimeout);
            this.searchTimeout = setTimeout(this.searchForUsers, 500);
        },
        sendMessage() {
            const message = this.messageInput;
            this.messageInput = "";
            console.log(message);
            console.log(this.selectedUsers);
            this.selectedUsers.forEach((user) => {
                this.$emit('messageSent', {
                    message: message,
                    receiver: user,
                });
            });
        }
    }
}
</script>

<template>
    <div class="new-message-box">
        <div class="d-flex justify-content-between">
            <h2 class="new-message-header">Write a new message</h2>
            <button class="btn btn-outline-light close-btn" @click="$emit('closeMessageBox')">
          <i class="bi bi-x-lg"></i>
        </button>
        </div>
        <div class="forms-wrapper row gx-0">
            <textarea class="col-4" name="message-input" id="message-input" cols="30" rows="10"
                placeholder="Write your message here." v-model="messageInput"></textarea>
            <div class="search-for-users col">
                <input type="text" placeholder="Search for users here" @input="submit" v-model="searchQuery">
                <div id="users-display">
                    <User v-for="user in users" :user="user" @userSelected="selectUser" @userUnselected="unselectUser" />
                </div>
            </div>
            <div class="col-1 send-wrapper">
                <button class="send-button" @click="sendMessage">
                    <i class="bi bi-send-fill"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped>
.close-btn {
    height: 3rem;
    width: 3.75rem;
}
#users-display {
    height: 100%;
    overflow-x: scroll;
}

.send-wrapper {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(84, 39, 109);
    color: white;
    font-size: 1.5rem;
    background-color: rgb(35, 3, 53);
    transition: background-color 0.05s;
}

.send-button:hover {
    background-color: rgb(84, 39, 109);
    cursor: pointer;
}

.search-for-users {
    margin-left: 1.5rem;
    border: 1px solid rgb(84, 39, 109);
    border-radius: 10px;
    overflow: hidden;
    max-height: 20rem;
}

.search-for-users input {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 1rem;
    outline: none;
    background-color: rgb(35, 3, 53);
    color: white;
    border: none;
    border-bottom: 1px solid rgb(84, 39, 109);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#message-input {
    height: 20rem;
    border: 1px solid rgb(84, 39, 109);
    border-radius: 10px;
    background-color: rgb(35, 3, 53);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    resize: none;
}

.new-message-header {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.new-message-box {
    width: 50rem;
    height: 30rem;
    background-color: rgb(35, 3, 53);
    border-radius: 30px;
    border-radius: 30px;
    padding: 2rem;
}
</style>
