<template>
    <div class="overlay">
        <TaskPopup @close="$emit('close')" 
        @addTask="addTask"
        @editTask="editTask"
        :task="activeTask" />
    </div>
</template>

<script>
import TaskPopup from './TaskPopup.vue';
export default {
    components: {
        TaskPopup,
    },
    name: "Overlay",
    methods: {
        addTask(task) {
            this.$emit('addTask', task);
        },
        editTask(task) {
            this.$emit('editTask', task);
        }
    },
    props: {
        activeTask: {
            type: Object,
            required: false,
        }
    }
}
</script>

<style scoped>
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
