<template>
    <div class="overlay" 
    :class="{'d-none': hidden}">
        <NewMessageBox @messageSent="sendMessage"
        @closeMessageBox="$emit('closeMessageBox')" />
    </div>
</template>
  
<script>
import NewMessageBox from './NewMessageBox.vue';

export default {
    props: {
        hidden: {
            type: Boolean,
            required: true,
        },
    },
    components: {
        NewMessageBox
    },
    methods: {
        sendMessage(message) {
            console.log(message);
            this.$emit('messageSent', message);
        }
    }
};
</script>
  
<style scoped>
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>