<script>
import axios from 'axios';
export default {
    name: "SideBar",
    methods: {
        showNewMessage() {
            this.$emit('showNewMessage');
        },
        gotoTodo() {
            console.log("gotoTodo");
            this.$router.push('/todo');
        },
        goHome() {
            console.log("goHome");
            window.location.href = 'https://localhost/pvi-labs/students';
        },
        logout() {
            console.log("logging out");
            axios.post('http://localhost:3000/users/logout')
                .then(response => {
                    console.log(response);
                    if (response.status === 200) {
                        this.$router.push('/login');
                        this.socket.disconnect();
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }
}
</script>

<template>
    <div class="sidebar col-1">
        <button class="sidebar-button" title="Write a new message." @click="showNewMessage">
            <i class="bi bi-plus-lg"></i>
        </button>
        <button class="sidebar-button" title="Go back home." @click="goHome">
            <i class="bi bi-house-fill"></i>
        </button>
        <button class="sidebar-button" title="Go to todo list.">
            <i class="bi bi-check-all" @click="gotoTodo"></i>
        </button>
        <button class="sidebar-button" title="Log out." @click="logout">
            <i class="bi bi-door-closed-fill"></i>
        </button>
    </div>
</template>

<style scoped>
.sidebar {
    color: white;
    background-color: rgb(35, 3, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 1.5rem;
}
.sidebar-button {
    aspect-ratio: 1/1;
    width: calc(100% - 0.5rem);
    border-radius: 15px;
    border: none;
    background-color: rgb(48, 5, 72);
    color: rgb(248, 210, 255);
    font-size: 2rem;
    margin-bottom: 0.75rem;
}
.sidebar-button:hover {
    background-color: rgb(56, 16, 77);
}
.sidebar-button:active {
    background-color: rgb(64, 27, 82);
}
</style>