<template>
    <div class="task-popup">
      <div class="d-flex justify-content-between">
        <h2>{{ task ? 'Edit Task' : 'Add Task' }}</h2>
        <button class="btn btn-outline-dark" @click="$emit('close')">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <form class="options-list" @submit="submit">
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select name="status" id="status" class="form-control" v-model="taskData.status" required>
            <option value="" disabled selected>Select status</option>
            <option value="todo">ToDo</option>
            <option value="inprogress">InProgress</option>
            <option value="done">Done</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" v-model="taskData.name" required>
        </div>
        <div class="mb-3">
          <label for="deadline" class="form-label">Deadline</label>
          <input type="date" name="deadline" id="deadline" class="form-control" v-model="taskData.deadline" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" cols="30" rows="10" class="form-control" v-model="taskData.description" required></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-outline-dark" type="submit">{{ task ? 'Save Task' : 'Add Task' }}</button>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      task: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        taskData: {
          name: '',
          status: '',
          deadline: '',
          description: '',
        },
      };
    },
    watch: {
      task(newTask) {
        if (newTask) {
          this.taskData.name = newTask.name;
          this.taskData.status = newTask.status;
          this.taskData.deadline = new Date(newTask.deadline).toISOString().substring(0, 10);
          this.taskData.description = newTask.description;
        } else {
          this.resetForm();
        }
      },
    },
    methods: {
      submit(e) {
        e.preventDefault();

        const task = {
          name: this.taskData.name,
          status: this.taskData.status,
          deadline: this.taskData.deadline,
          description: this.taskData.description,
          _id: this.task ? this.task._id : null,
        };

        console.log(task);

        if (this.task) {
          this.$emit('editTask', task);
        } else {
          this.$emit('addTask', task);
        }
        this.$emit('close');
      },
      resetForm() {
        this.taskData.name = '';
        this.taskData.status = '';
        this.taskData.deadline = '';
        this.taskData.description = '';
      },
    },
  };
  </script>
    
  
  <style scoped>
  .task-popup {
    background-color: white;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 2rem;
  }
  </style>
  