<script>
import TodoTask from './TodoTask.vue';

export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        tasks: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            datePick: "",
        }
    },
    components: {
        TodoTask,
    },
    methods: {
        addTask() {
            this.$emit('addTask');
        },
        changeStatus() {
            this.$emit('changeStatus');
        },
        editTask(id) {
            this.$emit('editTask', id);
        }
    }
}
</script>
<template>
<div class="todo-category">
    <div class="todo-header">
        {{ name }}
    </div>
    <div class="tasks">
        <TodoTask v-for="task in tasks" :name="task.name" 
        :deadline="task.deadline" 
        :id="task._id" 
        @changeStatus="changeStatus()"
        @editTask="editTask" />
    </div>
    <div class="tasks-actions row">
        <button class="btn btn-outline-dark col-4" @click="addTask">Add Task</button>
    </div>
</div>
</template>