<script>
export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        deadline: {
            type: String,
            required: true,
        },
        id: {
            type: String,
            required: true,
        }
    },
    methods: {
        formatDate(date) {
            const currentDate = new Date();
            const year = date.getFullYear() !== currentDate.getFullYear() ? ` ${date.getFullYear()}` : '';
            let month = date.toLocaleString('default', { month: 'short' });
            month = month.charAt(0).toUpperCase() + month.slice(1);

            const day = date.getDate();

            return `${month} ${day}${year}`;
        },
        editTask() {
            this.$emit('editTask', this.id);
        }
    }
}
</script>

<template>
    <div class="task" role="button" @click="editTask">
        <div class="task-info">
            {{ name }}
        </div>
        <div class="tasks-expiry-date">
            {{ formatDate(new Date(deadline)) }}
        </div>
    </div>
</template>