<template>
    <Navbar :username="username" :lastMessages="lastMessages" />
    <div class="todo-container">
        <TodoCategory :name="todoName" 
        :tasks="tasksTodo" 
        @addTask="showAddTask"
        @editTask="showEditTask" />
        <TodoCategory 
        :name="inProgressName" 
        :tasks="tasksInProgress" 
        @addTask="showAddTask"
        @editTask="showEditTask" />
        <TodoCategory 
        :name="doneName" 
        :tasks="tasksDone" 
        @addTask="showAddTask"
        @editTask="showEditTask" />
    </div>
    <Overlay :class="{'d-none': addTaskHidden}" 
    @close="closePopup"
    @addTask="AddTask"
    @editTask="editTask"
    :activeTask="activeTask"
    />
    
</template>

<script>
import axios from "axios"
import Navbar from "./Navbar/Navbar.vue"
import TodoCategory from "./TodoCategory.vue"
import Overlay from "./Overlay.vue"

export default {
    components: {
        Navbar,
        TodoCategory,
        Overlay,
    },
    data() {
        return {
            username: "",
            messages: [],
            lastMessages: [],
            tasks: [],
            tasksTodo: [],
            tasksInProgress: [],
            tasksDone: [],
            todoName: "ToDo",
            inProgressName: "InProgress",
            doneName: "Done",
            addTaskHidden: true,
            activeTask: null,
        }
    },
    created() {
        this.fetchTasks();
        this.fetchMessages();
        this.initialiseSocketConnection();

        this.socket.on('message', (message) => {
            console.log("Received message from server");
            console.log(message);
            this.messages.push(message);
        });
    },
    computed: {
        tasksTodo() {
            const tasks = this.tasks;
            const tasksTodo = tasks.filter((task) => task.status === 'todo');
            tasksTodo.sort((a, b) => new Date(a.deadline) - new Date(b.deadine));
            //console.log(tasksTodo)
            return tasksTodo;
        },
        tasksInProgress() {
            const tasks = this.tasks;
            const tasksInProgress = tasks.filter((task) => task.status === 'inprogress');
            tasksInProgress.sort((a, b) => new Date(a.deadline) - new Date(b.deadine));
            //console.log(tasksInProgress)
            return tasksInProgress;
        },
        tasksDone() {
            const tasks = this.tasks;
            const tasksDone = tasks.filter((task) => task.status === 'done');
            tasksDone.sort((a, b) => new Date(a.deadline) - new Date(b.deadine));
            return tasksDone;
        },
        lastMessages() {
            const messages = this.messages;
            const username = this.username;
            
            //console.log(messages);

            let users = messages
                .map((message) => message.sender)
                .concat(messages.map((message) => message.receiver));
            users = users.filter((user) => user !== username && user !== undefined);
            users.push('Global Chat');

            const uniqueUsers = [...new Set(users)];
            const userMessageDict = [];

            uniqueUsers.forEach((user) => {
                let lastMessage = null;

                messages.forEach((message) => {
                    if (user === 'Global Chat' && message.global) {
                        const lastDate = new Date(lastMessage?.date);
                        const currentDate = new Date(message.date);
                        if (lastMessage === null || lastDate < currentDate) {
                            lastMessage = message;
                        }
                    } else if (message.sender === user || message.receiver === user) {
                        if (message.global) {
                            return;
                        }
                        //console.log("message " + message.message + message.global)
                        const lastDate = new Date(lastMessage?.date);
                        const currentDate = new Date(message.date);
                        if (lastMessage === null || lastDate < currentDate) {
                            lastMessage = message;
                        }
                    }
                });

                if (lastMessage !== null) {
                    const lastMessageObj = {
                        username: user,
                        message: lastMessage.message,
                        date: lastMessage.date,
                    };
                    userMessageDict.push(lastMessageObj);
                }
            });
            
            userMessageDict.sort((a, b) => new Date(b.date) - new Date(a.date));
            userMessageDict.splice(3);
            
            return userMessageDict;
        }
    },
    methods: {
        async fetchMessages() {
            try {
                const response = await axios.get('http://localhost:3000/messages/fetchMessages');
                //console.log(response);
                if (response.status === 200) {
                    this.messages = response.data.messages;
                    this.username = response.data.username;
                }
            }
            catch (error) {
                console.log(error);
            }
        },
        async fetchTasks() {
            try {
                const response = await axios.get('http://localhost:3000/tasks/fetchTasks');
                //console.log(response);
                if(response.status === 200) {
                    this.tasks = response.data;
                    //console.log(this.tasks);
                }
            }
            catch (error) {
                console.log(error);
            }
        },
        showAddTask() {
            this.activeTask = null;
            this.addTaskHidden = false;
        },
        showEditTask(id) {
            this.activeTask = this.tasks.find((task) => task._id === id);
            this.addTaskHidden = false;
        },
        closePopup() {
            this.addTaskHidden = true;
        },
        async AddTask(task) {
            console.log("adding task");
            console.log(task);
            try {
                const response = await axios.post('http://localhost:3000/tasks/add', task);
                console.log(response);
                if(response.status === 200) {
                    this.tasks.push(response.data);
                }
            }
            catch (error) {
                console.log(error);
            }
        },
        async editTask(task) {
            console.log(task);
            try {
                const response = await axios.put('http://localhost:3000/tasks/edit', task);
                console.log(response);
                console.log(this.tasks);
                if(response.status === 200) {
                    const tasks = this.tasks.filter((task) => task._id !== response.data._id);
                    tasks.push(response.data);
                    console.log(tasks);
                    this.tasks = tasks;
                }
            }
            catch (error) {
                console.log(error);
            }
        },
    },
}
</script>

<style>
#app {
    display: block;
}

.btn-switch {
    aspect-ratio: 1/1;
    height: 70%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-actions {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-top: 1.35rem;
}

.tasks {
    overflow-y: auto;
    height: 30rem;
    border-bottom: 1px solid black;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 6rem;
}

.task-switch {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-header {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid black;
    padding-left: 3rem;
}

.todo-container {
    display: flex;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(162, 210, 255, 1) 100%);
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10rem;
}

.todo-category {
    width: 30rem;
    height: 40rem;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.1);
}
</style>
