<template>
    <div class="user">
        <input type="checkbox" class="d-inline" @click="emitEvent" v-model="checked">
        <span class="user-name">
            {{ user }}
        </span>
    </div>
</template>
<script>
export default {
    data() {
        return {
            checked: false,
        }
    },
    props: {
        user: {
            type: String,
            required: true,
        },
    },
    methods: {
        emitEvent() {
            if (!this.checked)
                this.$emit('userSelected', this.user);
            else
                this.$emit('userUnselected', this.user);
        }
    },
}
</script>
<style>
.user {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid rgb(84, 39, 109);
}

.user-name {
    font-size: 1rem;
    margin-left: 1rem;
}

.user input[type="checkbox"] {
    margin-right: 1rem;
    /* custom styles */
    width: 1.5rem;
    height: 1.5rem;
}
</style>