<script>
import UserEntry from './UserEntry.vue';
export default {
    components: {
        UserEntry
    },
    props: {
        userMessageDict: Array
    },
    mounted() {
        console.log("UserList has been mounted")
    },
    updated() {
        console.log("UserList has been updated.");
        console.log(this.userMessageDict);
        // for(let user of this.userMessageDict) {
        //     console.log(user);
        // }
    },
    methods: {
        formatDate(timestamp) {
            const date = new Date(timestamp);
            const currentDate = new Date();

            const isSameDay = date.getDate() === currentDate.getDate();
            const isYesterday = date.getDate() === currentDate.getDate() - 1;

            if (isSameDay) {
                return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            } else if (isYesterday) {
                return 'Yesterday';
            } else {
                return date.toLocaleDateString([], { year: 'numeric', month: 'short', day: 'numeric' });
            }
        },
        switchChat(username) {
            console.log('UserList: switchChat: ' + username);
            this.$emit('switch-chat', username);
        },
    },
    name: "UserList"
}
</script>

<template>
    <div class="chat-list col-4">
        <UserEntry v-for="user in userMessageDict" 
        :name="user.username" 
        :message="user.message" 
        :date="this.formatDate(user.date)"
        @switch-chat="switchChat" />
    </div>
</template>

<style scoped>
.chat-list {
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}
</style>