<script>
export default {
    props: {
        name: String,
        message: String,
        date: String,
    },
    methods: {
        switchChat() {
            console.log('UserEntry: switchChat: ' + this.name);
            this.$emit('switch-chat', this.name);
        }
    },
    name: "UserEntry",
}
</script>

<template>
    <div class="chat-collapsed" @click="switchChat">
        <div>
            <img src="../assets/profile_image.jpg" alt="Profile image">
            <span class="fs-6 timestamp d-block">{{ date }}</span>
        </div>  
        <div class="chat-collapsed-info">
            <h5>{{ name }}</h5>
            <p>{{ message }}</p>
        </div>
    </div>
</template>

<style>
.chat-collapsed {
    cursor: pointer;
    height: 6rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 0;
}

.chat-collapsed:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chat-collapsed:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.chat-collapsed img {
    width: 3rem;
    border-radius: 50%;
}

.chat-collapsed-info {
    margin-left: 1rem !important;
    padding: 0.75rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    flex-grow: 1;
    border-radius: 15px 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.chat-collapsed * {
    margin: 0;
}
</style>