<template>
    <nav class="navbar navbar-expand-lg bg-dark sticky-top navbar-dark" id="main-nav" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">
                CMS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <NotificationItem :lastMessages="lastMessages" />
                    <ProfileItem :username="username" />
                </ul>
            </div>
        </div>
    </nav>
</template>
  
<script>
import NotificationItem from './NotificationItem.vue'
import ProfileItem from './ProfileItem.vue'

export default {
    components: {
        NotificationItem,
        ProfileItem
    },
    props: {
        username: {
            type: String,
            required: true
        },
        lastMessages: {
            type: Array,
            required: true
        }
    },
}
</script>
  
<style>
.navbar {
    box-shadow: inset 0px 50px 30px -32px rgb(47, 52, 56), -3px -11px 18px 14px rgba(0, 0, 0, 0.5);
}

#pages {
    list-style-type: none;
}

.hover-effect {
    position: relative;
    transition: text-decoration 100ms ease-in;
    text-decoration-color: transparent;
}

.hover-effect:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.1s;
}

#pages a:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

#pages #current-page {
    text-decoration-color: transparent;
}

.disabled-link {
    pointer-events: none;
}

.notif {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 20px;
    margin: 0 auto;
    background-color: red;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    transition: all 300ms cubic-bezier(0.550, 0.055, 0.520, 1.425);
}

.notif-hidden {
    transform: scale(0.5) translate(-5px, 6px);
    opacity: 0;

}

.nav-link {
    user-select: none;
}

.hidden {
    opacity: 0;
}

.alerts {
    background-color: rgb(255, 255, 255);
    min-width: 30%;
    border-radius: 30px;
    padding: 1.65rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    border-bottom: 1px solid black;
}

.heading-wrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: calc(1.325rem + .9vw);
    color: var(--bs-danger);
}

.icon-hover {
    display: none;
}

.heading-wrapper button:hover i {
    display: none;
}

.heading-wrapper button:hover .icon-hover {
    display: block;
}

.alerts .buttons {
    float: right;
}

#main-nav ul li svg {
    transition: 500ms;
}

#main-nav ul li:hover svg {
    transform: scale(1.1);
}

.hover-info {
    position: absolute;
    right: 0;
    max-width: fit-content;
    max-height: 7rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    overflow-y: auto;
    color: black;
    top: 45px;
}

@media (max-width: 480px) {
    .hover-info {
        width: 100vw;
    }
}

.hover-info ul {
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
}

.hover-info li {
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.hover-info a {
    text-decoration: none;
    color: black;
}

.user-info {
    white-space: nowrap;
    overflow: hidden;
    width: 10rem;
    padding-right: 1rem;
    display: inline-flex;
    align-items: center;
}

.message {
    white-space: nowrap;
    overflow: hidden;
    max-width: 5rem;
    padding-right: 1rem;
}
</style>