<template>
  <li role='button' class="nav-item d-flex align-items-center" @mouseover="showNotifications()" @mouseout="closeInfo()"
    @click="openChat">
    <a class="nav-link d-flex align-items-center position-relative disabled-link" href="#">
      <i class="text-white bi bi-bell"></i>
      <span class="notif" :class="{ 'notif-hidden': notifHidden}" id="notif"></span>
    </a>
    <div class="hover-info" id="notif-info" :class="{ hidden: isHidden }">
      <ul>
        <li v-for="message in lastMessages" :key="message.id">
          <span class="user-info">
            <i class="bi bi-person-circle text-dark mx-2"></i>
            {{ message.username }}
          </span>
          <span class="message">
            {{ message.message }}
          </span>
        </li>
      </ul>
    </div>
  </li>
</template>

<script>
export default {
  data() {
    return {
      isHidden: true,
      notifHidden: true
    };
  },
  created() {
    this.notifHidden = true; // Initialize notifHidden as true
  },
  methods: {
    showNotifications() {
      this.notifHidden = true;
      this.isHidden = false;
    },
    closeInfo() {
      this.isHidden = true;
    },
    openChat() {
      this.$router.push("/chat");
    }
  },
  props: {
    lastMessages: {
      type: Array,
      required: true
    }
  },
  watch: {
    lastMessages: {
      handler() {
        this.notifHidden = false;
      },
      deep: true
    }
  }
};
</script>
