<template>
  <li class="nav-item" @mouseover="showProfile()" @mouseout="closeProfile()">
    <a href="" class="nav-link d-flex align-items-center">
      <i class="bi bi-person-circle text-white mx-2"></i>
      <span class="text-white">{{ username }}</span>
    </a>
    <div class="hover-info" id="profile-info" :class="{ hidden: isHidden }">
      <ul>
        <li>
          <a href="">Profile</a>
        </li>
        <li>
          <a href="logout.php">Logout</a>
        </li>
      </ul>
    </div>
  </li>
</template>
  
<script>
export default {
  data() {
    return {
      isHidden: true,
      testValue: "test"
    }
  },
  methods: {
    showProfile() {
      this.isHidden = false;
    },
    closeProfile() {
      this.isHidden = true;
    }
  },
  props: {
    username: {
      type: String,
      required: true
    }
  }
}
</script>
  